.colorr{
    color: var(--primary);
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
  }
  .para{
    color:var(--secondary);
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }