/* its appear for all the componnent */
:root{
  --primary:rgb(26,188,156);/* the primary color for all the project all componnent can ues the var primary */

  --secondary:rgb(44,62,80);/* the secondary color for all the project all componnent can ues the var secondary */
}
.b-dark{
  background-color: var(--secondary);
}
.b-primary{
  background-color: var(--primary);
}
.b-dark-2{
  background-color: #1a252f;
}
.line{
  position: relative;
  width: fit-content;
  margin: auto;
  color: #fff;
}
.line::after{
  content: '';
  position:absolute;
  top: 50%;
  right:30px;
  width: 100px;
  height: 3px;
  background-color: #fff;
}
.line::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  width: 100px;
  height: 3px;
  background-color: #fff;
}
/* the line and the line pefore ,after to make the ________ * ___________  */